* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
  display: flex;

  place-items: center;
  justify-content: center;
}

#scene {
  width: 600px;
  height: 700px;
  background-color: black;
  image-rendering: pixelated;
}
